.contact-us{
    text-align: center;
}

.contact-us h1{
    
    margin: 2rem 0 0 0;
}

.contact-us .btn-container{
    display: flex;
    gap: 2rem;
    margin: 2rem 0 0 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    
    
}

.contact-us .btn-container a{
    font-size: 1rem;
    color: rgb(36, 41, 46);
    background: #fff;
    border: none;
    box-shadow: 0px 4px 6px 0px rgba(50,50,93,.11), 0px 1px 3px 0px rgba(0,0,0,.08);
    padding: 0.8rem;
    display: inline-block;
    border-radius: 5px;
    margin: 0;
}

.contact-us a p{
    margin: 0;
}